.main {
    margin-top: 2rem;
    width: 45rem;
    background-color: antiquewhite;
    border-radius: 0.75rem;
    padding: 1rem;
  }
  
  .main ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .main li {

    border: 1px solid lightgray;
    padding: 0.5rem 1.15rem;
    margin-bottom: 0.25rem;
  }